<%= render :partial => 'flash_messages' %>

<%= form_for :user, :url => { :controller => 'user', :action => "edit_password" } do |f| -%>
<div class="label"><%= f.label :old_password, t('rails_connector.views.user.old_password') %></div>
<div class="field"><%= f.password_field :old_password %></div>
<div class="label"><%= f.label :new_password, t('rails_connector.views.user.new_password') %></div>
<div class="field"><%= f.password_field :new_password %></div>
<div class="label"><%= f.label :new_password_confirm, t('rails_connector.views.user.new_password_confirm') %></div>
<div class="field"><%= f.password_field :new_password_confirm %></div>
<%= f.submit t('rails_connector.views.user.change_password_button') %>
<% end -%>