<%= render :partial => 'flash_messages' %>

<%= form_for :user, :url => { :controller => 'user', :action => "forgot_password" } do |f| -%>
  <div class="label"><%= f.label :login, t('rails_connector.views.user.login') %></div>
  <div class="field"><%= f.text_field :login %></div>
  <%= f.submit t('rails_connector.views.user.forgot_password_button') %>
<% end -%>