<%= render :partial => 'flash_messages' %>

<%= form_for :user, :url => { :controller => 'user', :action => 'set_password' } do |f| -%>
  <%= f.hidden_field(:token, :value => params[:token]) %>
  <div class="label">
    <%= f.label :new_password, t('rails_connector.views.user.new_password') %>
  </div>
  <div class="field"><%= f.password_field :new_password %></div>
  <div class="label">
    <%= f.label :new_password_confirm, t('rails_connector.views.user.new_password_confirm') %>
  </div>
  <div class="field"><%= f.password_field :new_password_confirm %></div>
  <%= f.submit t("rails_connector.views.user.set_password_button") %>
<% end -%>